{% extends 'base.html' %}

{% block conteudo %}
<main>
    <h2>Listagem de clientes</h2>
    <p><a href="/newCliente">Adicionar cliente</a></p>
    <p><a href="/">Voltar para a página inicial</a></p>
    <table>
        <thead>
            <th>
                Cliente
            </th>
        </thead>
        <tbody>

            {% for cliente in clientes %}
                <tr>
                    <td>
                        {{ cliente.nomeCliente }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}